[Unit]
Description=MOZA UDP Client
After=graphical.target network.target
Wants=graphical.target

[Service]
Type=simple
User=simulatore
WorkingDirectory=%h
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Environment=QT_X11_NO_MITSHM=1
ExecStart=/usr/bin/python3 -m rc_simulator
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical.target

